/*
Theme Name: Astra Child
Template: astra
version: 1.0
Description: Child Theme of astra
*/

/* forum-regular - latin */



/* gagan */
.owl-carousel.owl-carousel-logo{
  margin: 0 !important;
}

.custom-logo-slider a.ha-logo-grid-item{
 display: block !important;
 width: 100% !important;
 margin: 0px !important;
}
/* end */


@font-face {
  font-family: 'Sorts Mill Goudy', serif;
  src: url('../fonts/SortsMillGoudy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

.sorts-mill-goudy{
  font-family: 'Sorts Mill Goudy', serif;
}

.backtop {
    text-align: center;
    color: #fff;
  }
  .footersocial a {
    font-size: 18px;
    background: #fff;
    border-radius: 50%;
    color: #000 !important;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    margin-right: 20px;
  }
  .footer-widget-area[data-section="sidebar-widgets-footer-widget-2"]
    .widget-title {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .site-footer-below-section-1 {
    padding-left: 100px;
  }
  .site-footer-below-section-2 {
    padding-right: 100px;
  }
  .belowcopy {
    margin-top: 50px;
  }
  @keyframes rainbow {
    0% {
      width: 0%;
      visibility: hidden;
    }
    100% {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
  #div-rainbow {
    margin: 0 auto;
    border: none;
    width: 350px !important;
    height: 211px !important;
    background-color: black;
    object-fit: cover;
  }
  
  #div-rainbow-inner {
    background-image: url("https://bioserenity2.blvckpixel.com/wp-content/uploads/2021/06/ezgif-3-eae5506c28b3.jpg");
    position: relative;
    animation: rainbow 1s ease-in-out;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  .bottomrow .n-uc-12db1f6dcc64e-inner {
    padding-left: 250px !important;
  }
  .bottomrow .n-uc-165a616df33d5-inner {
    padding-right: 250px !important;
  }
  
  #purp-underline.startanim {
    height: 10px;
    background-color: #a944fc;
    -webkit-animation: w55 2s ease forwards;
    top: -32px;
    position: absolute;
    z-index: 0;
    left: 85px;
  }
  @-webkit-keyframes w55 {
    from {
      width: 0%;
    }
    to {
      width: 55%;
    }
  }
  
  .form-row {
    margin-bottom: 20px;
    font-size: 0px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .form-row .form-col {
    width: 50%;
	  display:inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-row .form-col-full {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contactpageform input[type="text"],
  .contactpageform input[type="email"],
  .contactpageform input[type="tel"],
  .contactpageform textarea {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 22px;
    color: #fff;
  }
  .contactpageform ::placeholder {
    color: #fff;
  }
  .contactpageform textarea {
    height: 100px;
  }
  .contactpage .wpcf7-response-output {
    color: #fff;
  }
  .contactpageform input[type="submit"] {
    background: transparent;
    border: 1px solid #fff;
    padding: 9px 35px;
    color: #fff;
    font-weight: normal;
  }
  .contactpageform input[type="submit"]:hover {
    border-color: #a944fc;
    color: #a944fc;
  }
  .contactpageform .wpcf7-not-valid-tip {
    font-size: 16px;
  }
  .careerform {
    font-size: 20px;
	  font-weight:400;
  }
.careerform .form-row .form-col{
	display:block;
	width:55%;
}
  .careerform .form-col,
  .careerform .form-col-full {
    font-size: 20px;
    vertical-align: top;
    margin-bottom: 40px;
	color:#f5f5f5;
  }
  .careerform label {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
  }
  input.form-control {
    width: 100%;
  }
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    margin-right: 5px;
	  margin-left:15px;
  }
.careerform .form-col input[type="checkbox"].first,
.careerform .form-col input[type="radio"].first,
.advancecheckbox .first{
	margin-left:0px;
}

  .error-field,
  span.required {
    color: #a944fc;
  }
  .careerform input[type="submit"] {
    border: 2px solid #a944fc;
    color: #a944fc;
    background: transparent;
    font-size: 18px;
    padding: 8px 30px;
  }
  .careerform input[type="submit"]:hover {
    background: #a944fc;
    color: #fff;
  }
  .careerformadvance h3 {
    color: #a944fc;
  }
  .advancecheckbox span {
    display: inline-block;
    width: 24%;
  }
  input.jsother {
    margin-top: 10px;
    max-width: 250px;
  }
  .careerform input[type="text"],
  .careerform input[type="text"]:focus,
  .careerform input[type="text"]:hover,
  .careerform input[type="text"]:active,
  .careerform input[type="email"],
  .careerform input[type="email"]:focus,
  .careerform input[type="email"]:hover,
  .careerform input[type="email"]:active {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    height: 25px;
  }
  .blvbookslider .slick-prev::before {
    content: "";
  }
  .bookmarkslist {
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    display: grid;
    -webkit-display: grid;
    -moz-display: grid;
    -o-display: grid;
    grid-template-columns: 40% 60%;
    -webkit-grid-template-columns: 40% 60%;
    -moz-grid-template-columns: 40% 60%;
    -o-grid-template-columns: 40% 60%;
  }
.bookmarkslist #col-two h3{
	width:90%;
}
  .bookmarkslist a:hover {
    cursor: pointer;
  }
  
  blockquote {
    border-left: 5px solid #a944fc !important;
  }
  
  @media (max-width: 480px) {
    #div-rainbow {
      border: none;
      width: 100%;
      height: 144px;
    }
    #div-rainbow-inner {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  
  .navigation.post-navigation {
    display: none !important;
  }
  
  #comments.comments-area {
    display: none !important;
  }
  
  .blvck-slider pre {
    background: #000;
  }
  
  .uc_content_box_zoom_effect .uc_title {
    display: block;
    font-size: 24px;
    color: #ffffff !important;
    text-decoration: none;
  }
  
  .cat-post_slider .lSSlideOuter .lSPager.lSGallery {
    display: none;
  }
  
  .um-form .um-field .um-field-label {
    color: white !important;
    margin-top: 0.2em;
  }
  
  .um-form .um-field .um-form-field {
    background-color: black !important;
    color: white !important;
    padding: 0.2em;
    margin-bottom: 0.2em;
  }
  
  article#post-2644 input,
  article#post-2644 input,
  article#post-2646 input,
  article#post-2652 input {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    padding-bottom: 15px !important;
    font-size: 22px !important;
    height: 100% !important;
    margin-top: 30px !important;
  }
  
  article#post-2644 input::placeholder,
  article#post-2646 input::placeholder,
  article#post-2652 input::placeholder {
    color: white !important;
  }
  
  article#post-2644 input[type="submit"],
  article#post-2646 input[type="submit"],
  article#post-2652 input[type="submit"] {
    background-color: black;
    color: white;
    border: 1px solid #fff !important;
    padding: 9px 35px !important;
    color: #fff !important;
    margin-top: 30px !important;
    border-radius: 0px !important;
  }
  
  article#post-2644 input[type="submit"]:hover,
  article#post-2646 input[type="submit"]:hover,
  article#post-2652 input[type="submit"]:hover {
    background-color: black;
    transition: 100ms;
    border: 1px solid #a944fc !important;
    color: #a944fc !important;
  }
  
  article#post-2644 .um-right,
  article#post-2646 .um-right {
    margin-top: 30px !important;
  }
  
  article#post-2644 .um-right a,
  article#post-2646 .um-right a {
    background-color: black !important;
    color: white !important;
    border-radius: 0px !important;
    font-size: 22px !important;
    border: 1px solid #fff !important;
    padding: 9px 35px !important;
  }
  
  article#post-2644 .um-right a:hover,
  article#post-2646 .um-right a:hover {
    transition: 100ms;
    border-radius: 0px !important;
    border: 1px solid #a944fc !important;
    color: #a944fc !important;
  }
  
  .bookmarkslist {
    border: solid 1px white;
    padding: 15px 15px 0px 15px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    display: grid;
    -webkit-display: grid;
    -moz-display: grid;
    -o-display: grid;
    grid-template-columns: 40% 60%;
    -webkit-grid-template-columns: 40% 60%;
    -moz-grid-template-columns: 40% 60%;
    -o-grid-template-columns: 40% 60%;
  }
  
  article#post-2644,
  article#post-2646,
  article#post-2652{
    background: black;
    color: white;
  }
  
  article#post-2644 .um-right,
  article#post-2646 .um-right {
    background-color: white;
  }
  
  
  .um-field-error{  
  background: #a944fc!important;
  }
  
  .um-field-error .um-field-arrow{
  color: #a944fc!important;
  }
  
  
  
  article#post-2675, article#post-2372 {
    background: black!important;
  }
  
  
  .main-header-menu .sub-menu {
    width: 150px;
  }
  
  .ast-builder-menu-1 .main-header-menu > .menu-item > .sub-menu,
  .ast-builder-menu-1
    .main-header-menu
    > .menu-item
    > .astra-full-megamenu-wrapper {
    margin-top: -50px;
  }
  
  @-webkit-keyframes readmore {
    from {
      width: 0%;
    }
    to {
      width: 85%;
    }
  }
  
  #read-more-line {
    height: 10px;
    background-color: #a944fc;
    -webkit-animation: readmore 2s ease forwards;
    top: -30px;
    position: absolute;
    z-index: 1;
    left: 30px;
    width: 85%;
  }
  
  .bk-button {
    margin-top: 2em;
    text-align: center;
  }
  .bookmarkauthor {
    font-weight: bold;
  }
  .bk_readmore {
    font-weight: bold;
    color: #a944fc;
  }
  .bookmarkslist .sf-icon-bookmark {
    color: #fff;
  }
  .bookmarkslist button.simplefavorite-button.preset.active {
    background: #a944fc;
    border-color: #a944fc;
  }
  .bookmarkslist #col-one {
    background-size: cover;
    background-position: center;
    margin-right: 1em;
  }
  
  @media(min-width: 1237px){
  .ast-single-post.ast-blog-single-style-1 main header {
    height: 500px;
    position: absolute;
    background: #0a0a0a;
    width: 100%;
    left: 0;
    top: 124px;
  }
}

@media(min-width: 991px) and (max-width: 1236px){
  .ast-single-post.ast-blog-single-style-1 main header {
    height: 500px;
    position: absolute;
    background: #0a0a0a;
    width: 100%;
    left: 0;
    top: 140px;
  }
}

@media(max-width: 991px){
  .ast-single-post.ast-blog-single-style-1 main header {
    height: 500px;
    position: absolute;
    background: #0a0a0a;
    width: 100%;
    left: 0;
    top: 130px;
  }
}
  
  .ast-single-post.ast-blog-single-style-1 main header img {
    position: absolute;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    /* right: 0; */
    background-attachment: fixed;
  }
  
  .ast-single-post.ast-blog-single-style-1 main header .ast-single-post-order {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 55px 20px;
    background: #151515b8;
    width: 60%;
    color: #ffffff;
    margin-top: 0 !important;
    text-align: center;
  }
  .ast-single-post.ast-blog-single-style-1
    .single
    .entry-header
    .post-thumb
    + .ast-single-post-order {
  }
  
  .ast-single-post.ast-blog-single-style-1 main header .ast-single-post-order h1 {
    z-index: 99999;
    position: relative;
    color: #fff;
    font-size: 49px;
  }
  
  .ast-single-post.ast-blog-single-style-1 main .entry-content {
    margin-top: 700px;
    position: relative;
  }
  
  .ast-single-post.ast-blog-single-style-1 main article.ast-article-single {
    padding-top: 0;
  }
  
  .ast-single-post.ast-blog-single-style-1
    main
    .entry-content
    .simplefavorite-button {
    position: absolute;
    top: 0;
    margin-top: -70px;
    left: 0;
    z-index: 9999999;
  }
  #mc4wp-form-1 input[type="submit"] {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 35px;
    color: #fff;
    font-weight: normal;
   vertical-align:bottom;	
  }
  #mc4wp-form-1 input[type="submit"]:hover {
    border-color: #a944fc;
    color: #a944fc;
  }
  #mc4wp-form-1 input[type="email"] {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 18px;
    color: #fff;
    width:300px;
      margin-right:15px;
  }
  #mc4wp-form-1 ::placeholder {
    color: #fff;
  }
  .mc4wp-alert {
    color: #fff;
  }
  .bookmarkslist {
    position: relative;
  }
  .bookmarkslist i.fa-bookmark {
    position: absolute;
    top: -1px;
    right: 20px;
    font-size: 40px;
    color: #a944fc;
  }

  /* underline animations @ gagan */
  
  section h2.elementor-heading-title.animateMe{
      float: left !important;
      position: relative
  }
  
  section h2.elementor-heading-title.animateMe::before{
      content: '';
      height: 10px;
      background: #a944fc;
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      -webkit-animation: ae 2s ease;
      z-index: -1;
  }

  section h3.elementor-heading-title.animateMe{
    float: right !important;
    position: relative
}

section h3.elementor-heading-title.animateMe::before{
    content: '';
    height: 10px;
    background: #a944fc;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    -webkit-animation: ae 2s ease;
    z-index: -1;
}

.elementor-element-56f561d{
  float: left;
}
  
  
  @-webkit-keyframes ae {
      from { width: 0%; }
      to { width: 100%; }
  }
  
  @media (max-width: 768px) {
    .ast-single-post.ast-blog-single-style-1 main header .ast-single-post-order {
      width: 90% !important;
    }
  }
  
  @media (max-width: 922px) {
    .ast-single-post.ast-blog-single-style-1
      main
      .entry-content
      .simplefavorite-button {
      margin-top: -50px !important;
    }
  }
  
    /* download report - vision page @ gagan */
    .pum-container.pum-responsive.pum-responsive-medium {
      margin-left: auto !important;
      width: 45% !important;
      position: relative !important;
      top: 50% !important;
      transform: translateX(-50%) translateY(-50%) !important;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(3px);
      border: 1px solid rgba(255, 255, 255, 0.37);
    }
  
    @media (min-width: 768px) and (max-width: 992px) {
      .pum-container.pum-responsive.pum-responsive-medium{
        width: 60% !important;
      }
    }
  
    @media (max-width: 768px) {
      .pum-container.pum-responsive.pum-responsive-medium{
        width: 90% !important;
        padding: 0px !important;
      }
  
      .pum-container.pum-responsive.pum-responsive-medium .shortcode.column-shortcode{
        padding: 0px !important;
      }
    }
  
  .page-id-2372 #download-report a{
      background-color: transparent;
      color: white;
      border: 1px solid #fff !important;
      padding: 9px 35px !important;
      color: #fff !important;
      margin-top: 30px !important;
      border-radius: 0px !important;
        font-size: 1rem !important;
        font-weight: 500;
  } 
  .page-id-2372 #download-report a:hover{
      transition: 100ms;
      border: 1px solid #a944fc !important;
      color: #a944fc !important;
  }

  .page-id-6403 #download-report a{
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    padding: 9px 35px !important;
    color: #fff !important;
    margin-top: 30px !important;
    border-radius: 0px !important;
      font-size: 1rem !important;
      font-weight: 500;
} 
.page-id-6403 #download-report a:hover{
    transition: 100ms;
    border: 1px solid #a944fc !important;
    color: #a944fc !important;
}
  
  @media (min-width: 992px) and (max-width: 1200px) {
      header .custom-logo-link img{
          max-width:250px;
      }
      .elementor-888 .elementor-element.elementor-element-975c781 > .elementor-widget-container{
          padding:0px 30px 0px 0px;
      }
	  /*my bookmarks*/
	  article#post-2675, article#post-2372{
		  margin-top:50px;
	  }
	  /*BLVCKbook*/
	  .post-396 .anwp-pg-wrap .anwp-pg-height-300{
		  height:225px;
	  }
	  	  /*career*/
	  .careerform .form-row .form-col{
		  width:75%;
	  }
	  .advancecheckbox span{
		  width:40%;
	  }
	  .advancecheckbox input[type="checkbox"],.advancecheckbox input[type="radio"]{
		  margin-left:0px;
	  }

  }
  @media (min-width: 768px) and (max-width: 991px) {
      .site-title{
          display:none;
      }
      .elementor-114 .elementor-element.elementor-element-ba92ffa .elementor-heading-title{
          font-size:64px;
      }
      .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"].footer-widget-area-inner{
          text-align:left;
      }
      .footer-widget-area[data-section="sidebar-widgets-footer-widget-2"].footer-widget-area-inner{
          text-align:right;
      }
      #astra-footer-menu .menu-item > a{
          padding-left:10px;
          padding-right:10px;
      }
      .site-footer-below-section-1{
          padding-left:50px;
          padding-top:20px;
      }
      .site-footer-below-section-2{
          padding-right:50px;
          padding-top:20px;
      }
	  /*BLVCKbook*/
	  .post-396 .anwp-pg-wrap .anwp-pg-height-300{
		  height:225px;
	  }
	  /* .ast-single-post.ast-blog-single-style-1 main header{
			top:130px;		  
	  } */
	  /*career*/
	  .careerform .form-row .form-col{
		  width:90%;
	  }
	  .advancecheckbox span{
		  width:45%;
	  }
	  .advancecheckbox input[type="checkbox"],.advancecheckbox input[type="radio"]{
		  margin-left:0px;
	  }
  }
  @media (max-width: 767px){
      .site-title{
          display:none;
      }
      .elementor-114 .elementor-element.elementor-element-ba92ffa .elementor-heading-title{
          font-size:64px;
      }
      .contactpageform input[type="text"], .contactpageform input[type="email"], .contactpageform input[type="tel"], .contactpageform textarea{
          font-size:20px;
      }
      #astra-footer-menu .menu-item > a{
          padding-left:10px;
          padding-bottom:10px;
          padding-right:10px;
      }
      .site-footer-below-section-1{
          padding-left:50px;
      }
      .site-footer-below-section-2{
          padding-right:50px;
      }
      .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"].footer-widget-area-inner{
          text-align:left;
      }
      .footer-widget-area[data-section="sidebar-widgets-footer-widget-2"].footer-widget-area-inner{
          text-align:right;
      }
	  	  /*my bookmarks*/
	  .bookmarkslist{
		  display:block;
	  }
	  /*BLVCKbook*/
	  .post-396 .anwp-pg-wrap .anwp-pg-height-300{
		  height:225px;
	  }
	  /*single post*/
	  	  .ast-single-post.ast-blog-single-style-1 main header{
			top:122px;		  
	  }
	  /*career*/
	  .careerform .form-row .form-col{
		  width:98%;
	  }
	  .advancecheckbox span{
		  width:49%;
	  }
	  .advancecheckbox input[type="checkbox"],.advancecheckbox input[type="radio"]{
		  margin-left:0px;
	  }
	  .careerform .form-col, .careerform .form-col-full{
		  font-size:18px;
	  }
  }
  @media (max-width: 600px){
      header .custom-logo-link img{
          max-width:275px;
      }
      .elementor-114 .elementor-element.elementor-element-ba92ffa .elementor-heading-title{
          font-size:60px;
      }
      .contactpageform input[type="text"], .contactpageform input[type="email"], .contactpageform input[type="tel"], .contactpageform textarea{
          font-size:18px;
      }
      .footer-widget-area[data-section="sidebar-widgets-footer-widget-1"].footer-widget-area-inner{
          text-align:center;
      }
      .footer-widget-area[data-section="sidebar-widgets-footer-widget-2"].footer-widget-area-inner{
          text-align:center;
      }
      .site-footer-below-section-1{
          padding-left:0px;
      }
      .site-footer-below-section-2{
          padding-right:0px;
      }
      .wpcf7 input:not([type=submit]), .wpcf7 select, .wpcf7 textarea{
          padding:0.5em;
      }
	  /*BLVCKbook*/
	  #mc4wp-form-1 input[type="email"]{
		  width:225px;
	  }
	  /*BLVCKbook singlepost*/
	  	  .ast-single-post.ast-blog-single-style-1 main header{
			top:114px;		
			height:300px;
	  }
	  .ast-single-post.ast-blog-single-style-1 main header .ast-single-post-order{
		  padding:30px 20px;
	  }
	  .ast-single-post.ast-blog-single-style-1 main .entry-content{
		  margin-top:350px;
	  }
	  .a2a_button_facebook span,.a2a_button_twitter span,.a2a_button_linkedin span{
		  width:40px!important;
		  height:40px!important;
		  line-height:40px!important
	  }
	  /* Career */
	  .advancecheckbox span{
		  width:100%;
	  }
	  .basiccheck span{
		  display:block;
	  }
	  .basiccheck input[type="checkbox"],.basiccheck input[type="radio"]{
		  margin-left:0px;
	  }

  }
  @media (max-width: 426px){
          header .custom-logo-link img{
          max-width:185px;
      }
      .elementor-114 .elementor-element.elementor-element-ba92ffa .elementor-heading-title{
          font-size:56px;
      }
 	  #mc4wp-form-1 input[type="email"]{
		  width:200px;
	  }
	  #mc4wp-form-1 input[type="submit"]{
		  padding:10px 25px;
	  }
	  /*BLVCKbook singlepost*/
	  	  .ast-single-post.ast-blog-single-style-1 main header{
			top:110px;		  
	  }
 }
  @media (max-width: 380px){
      .elementor-114 .elementor-element.elementor-element-ba92ffa .elementor-heading-title{
          font-size:50px;
      }
  }
  
  
  .pum.pum-overlay#pum-3087::before{
    position: absolute;
    content: '';
    background-color: #000000e0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    opacity: 0.7;
  }
  
  #pum-3087.pum-overlay{
    background-color: transparent;
  }
  
  #pum-3087 .dae-shortcode-register-label1{
    color: #efefef !important;
  }
  
  #pum-3087 .pum-content + .pum-close, #pum-3087 .pum-content + .pum-close{
    background-color: #000000;
    font-size: 35px;
  }
  
  #dae-shortcode3079-download-wrapper .dae-shortcode-register-label{
    color: #ffffff !important;
  }
  
  
  .be-creative{
    position: relative;
    left: -75px;
  }

  /* vision page popup message text color change */
  #dae-shortcode3079-download-wrapper .dae-shortcode-register-message .dae-shortcode-register-success{
    color: #A944FC !important;
  }

  #dae-shortcode3079-download-wrapper .dae-shortcode-register-loading .fa-spin::before{
    color: #A944FC !important;
  }

  #dae-shortcode3079-download-wrapper .dae-shortcode-register-error{
    color: #A944FC !important;
  }
  
  /* removed outlines from anchor tag in navbar and footer @ gagan*/
  .ast-builder-menu-1 .menu-item > .menu-link:active,.ast-builder-menu-1 .menu-item > .menu-link:focus{
    outline: none !important;
  }
  
  #astra-footer-menu .menu-item > a:active, #astra-footer-menu .menu-item > a:focus{
    outline: none !important;
  }
  

  /* mobile menu fixes @ gagan */
#ast-hf-mobile-menu li.current-menu-item a{
  color: #a944fc !important;
}
  
  /* register page @ gagan */
  .um-register .um-half input{
    font-size: 1rem !important;
  }
  
  .um-register .um-right.um-half{
    float: left !important;
  }
  
  .um-register .um-left.um-half{
    margin-right: 10px;
  }
  
  .um-register .um-half{
    width: auto !important;
  }
  
  .um-register .um-half *{
    font-size: 1rem !important;
  }
  
  /* login page @ gagan */
  .um-login .um-half input{
    font-size: 1rem !important;
  }
  
  .um-login .um-right.um-half{
    float: left !important;
  }
  
  .um-login .um-left.um-half{
    margin-right: 10px;
  }
  
  .um-login .um-half{
    width: auto !important;
  }
  
  .um-login .um-half *{
    font-size: 1rem !important;
  }
  
  .um-login a.um-link-alt{
    text-align: left !important;
  }
  
  
  
  
  
  /* approach page @ gagan */
  @media (min-width: 576px) and (max-width: 768px){



    #page-id-394 .elementor-widget-wrap.elementor-element-populated{
      margin: 0px 0px 0px 0px !important;
    }
    .elementor-394 .elementor-element.elementor-element-7827ec6{
      padding: 100px 0px 140px 50px !important;
    }
    .elementor-394 .elementor-element.elementor-element-d40215d > .elementor-widget-container{
      margin: 0px 0px 0px 0px !important;
    }
    .elementor-394 .elementor-element.elementor-element-f6a80d3 .elementor-heading-title{
      font-size: 34px !important;
    }
    .elementor-element-b161d24{
      width: 60% !important;
    }
    .elementor-element-881d6d1{
      width: 40% !important;
    }
    .elementor-394 .elementor-element.elementor-element-4e1f930 .elementor-heading-title{
      font-size: 16px !important;
    }
    .elementor-394 .elementor-element.elementor-element-4e1f930{
      text-align: right !important;
    }
    .be-creative{
      left:0px !important;
      text-align: right !important;
    }
  
  }
  
  /* approach page @ gagan */
  @media (min-width: 769px) and (max-width: 1161px){
    #page-id-394 .elementor-widget-wrap.elementor-element-populated{
      margin: 0px 0px 0px 0px !important;
    }
    .elementor-394 .elementor-element.elementor-element-7827ec6{
      padding: 100px 120px 140px 120px !important;
    }
    .elementor-394 .elementor-element.elementor-element-d40215d > .elementor-widget-container{
      margin: 0px 0px 0px 0px !important;
    }
    .elementor-394 .elementor-element.elementor-element-f6a80d3 .elementor-heading-title{
      font-size: 50px !important;
    }
    .elementor-element-b161d24{
      width: 50% !important;
    }
    .elementor-element-881d6d1{
      width: 50% !important;
    }
    .elementor-394 .elementor-element.elementor-element-4e1f930 .elementor-heading-title{
      font-size: 2.433em !important;
    }
    .elementor-394 .elementor-element.elementor-element-4e1f930{
      text-align: right !important;
    }
    .be-creative{
      left:-70px !important;
      text-align: right !important;
    }
    .elementor-394 .elementor-element.elementor-element-f6a80d3 > .elementor-widget-container{
      margin: 0 !important
    }
    .elementor-element-d40215d img{
      width: 100% !important;
    }
  
  }
  
  
  
  /* approach page @ gagan */
  @media  (max-width: 768px){
    .elementor-396 .elementor-element.elementor-element-c72ca96 .bdt-prime-slider .bdt-prime-slider-desc .bdt-main-title .bdt-title-tag
    {
      font-size: 42px !important;   
    }
    .elementor-396 .elementor-element.elementor-element-c72ca96 .bdt-prime-slider .bdt-blog-text{
      font-size: 20px !important;
    }
    body.archive.category article{
      padding: 2.34em 1.67em !important;
    }
  }
  
  
  
  /* about page @ gagan */
  @media (min-width: 768px) and (max-width: 991px){
    .elementor-888 .elementor-element.elementor-element-c3cb804 > .elementor-widget-container .elementor-heading-title{
      font-size: 44px !important;
    }
  }
  
  @media (max-width: 768px){
    .elementor-888 .elementor-element.elementor-element-c3cb804 > .elementor-widget-container .elementor-heading-title{
      text-align: left !important;
      font-size: 28px !important;
    } 
  
    .elementor-888 .elementor-element.elementor-element-c3cb804 > .elementor-widget-container{
      padding: 120px 20px 10px 20px !important;
    }
  
    .elementor-888 .elementor-element.elementor-element-a4274ae > .elementor-widget-container{
      padding: 20px 20px 60px 20px !important;
    }
  
    .elementor-888 .elementor-element.elementor-element-a4274ae{
      font-size: 16px !important;
    }
  }
  
    /* other pages first section responsive fix - page heading section @ gagan */
	  @media (min-width: 768px) and (max-width: 921px){
		/* .page-id-2477 .elementor-section-wrap section:first-child, .page-id-394 .elementor-section-wrap section:first-child{
			padding: 60px 120px 100px 120px !important;
	    } */
		.page-id-2477 .elementor-section-wrap section:first-child h2,.page-id-394 .elementor-section-wrap section:first-child h2{
			font-size: 50px !important;
	    }
	  }
	  
    @media (min-width: 921px) and (max-width: 1024px){
     #page #content .content-area.primary#primary{
       margin-top: 142px !important;
     }
     .page-id-888 .elementor-888 .elementor-element.elementor-element-a2e7eeb{
      margin-top: 0 !important;
     }
    }
	  
	    
	  /* other pages first section responsive fix - page heading section @ gagan */
	  @media (max-width: 767px){
		/* .page-id-2477 .elementor-section-wrap section:first-child{
			padding: 20px 30px 30px 30px !important;
	    }
		 */
		 /* .page-id-394 .elementor-section-wrap section:first-child{
			 padding: 20px 30px 30px 30px !important;
		 } */
		 
		.page-id-2477 .elementor-section-wrap section:first-child h2{
			font-size: 38px !important;
	    }	
		
		.page-id-394 .elementor-section-wrap section:first-child h2{
			font-size: 38px !important;
		}
    section h3.elementor-heading-title.animateMe::before{
      height: 6px !important;
    }
    .page-id-1003 .cat-slide-read{
      display: none !important;
    }
	  }
	  
	  
	  
	  /* services page responsive fixes 921 - 768 @ gagan */
	  @media (min-width: 768px) and (max-width: 921px){
		  .elementor-element-3a3503a{
			  
		  }
		  
		  .elementor-element-3a3503a .elementor-widget-wrap{
			  padding: 0px 60px 0px 60px !important;
		  }
		  
		  .elementor-element-3a3503a .elementor-2477 .elementor-element.elementor-element-7054c94{
			font-size: 25px !important;
			letter-spacing: 6px !important;
		  }
		  
		  .elementor-element-9c16733{
			  
		  }
		  
		  .elementor-element-9c16733 .elementor-element-4414564{
			  
		  }
		  
		  .elementor-element-9c16733 .elementor-element-4414564 .elementor-widget-wrap{
			padding: 0px 0px 0px 160px !important;
		  }
		  
		  .elementor-element-9c16733 .elementor-element-4414564 .elementor-heading-title{
			font-size: 32px !important;
		  }

		  .elementor-element-9c16733 .elementor-element-876188b{
			  
		  } 

		  .elementor-element-9c16733 .elementor-element-876188b .elementor-widget-wrap{
			  padding: 0px 144px 0px 115px !important;
		  } 

		  .elementor-element-3a4544e{
			  padding: 50px 50px 50px 50px !important;
		  }
		  
		  .elementor-element-8a27ba0{
			  padding: 50px 50px 50px 50px !important;
			  border: 0 !important;
		  }
		  
		  .elementor-element-0facf6a{
			  padding: 50px 50px 50px 50px !important;
		  }
			
	  }
	  
	  
	  
	   /* services page responsive fixes max 767 @ gagan */
	  @media (max-width: 767px){
		  
		  .elementor-element-3a3503a{
			  
		  }
		  
		  .elementor-element-3a3503a .elementor-widget-wrap{
			  padding: 0px 60px 0px 60px !important;
		  }
		  
		  .elementor-element-3a3503a .elementor-element.elementor-element-7054c94{
			font-size: 25px !important;
			letter-spacing: 6px !important;
		  }
		  
		  .elementor-element-3a3503a .elementor-background-video-container{
			  display: block !important;
		  }  
		  
		  .elementor-element-9c16733{
			  
		  }
		  
		  .elementor-element-9c16733 .elementor-element-4414564{
			  
		  }
		  
		  .elementor-element-9c16733 .elementor-element-4414564 .elementor-widget-wrap{
			padding: 0px 0px 0px 80px !important;
		  }
		  
		  .elementor-element-9c16733 .elementor-element-4414564 .elementor-heading-title{
			font-size: 23px !important;
		  }

		  .elementor-element-9c16733 .elementor-element-876188b{
			  
		  } 

		  .elementor-element-9c16733 .elementor-element-876188b .elementor-widget-wrap{
			  padding: 0px 72px 0px 105px !important;
		  } 

		  .elementor-element-3a4544e{
			  padding: 50px 50px 50px 50px !important;
		  }
		  
		  .elementor-element-8a27ba0{
			  padding: 50px 50px 50px 50px !important;
			  border: 0 !important;
		  }
		  
		  .elementor-element-0facf6a{
			  padding: 50px 50px 50px 50px !important;
		  }
		  
		  .elementor-element-b9d0cca{
			  display: none !important;
		  }
		  
		  .elementor-element-820b2d6{
			  display: none !important
		  }
		  
		  .elementor-element-8d7154f{
				display: none !important
		  }
		  
		  
			
	  }
	  
	  

	  	  
	   /* approach page responsive fixes max 767 @ gagan */
	  @media (max-width: 767px){
		  .elementor-element-b6b6211{
			  padding: 50px 0 50px 0 !important;
		  }
		  
		  .elementor-element-b6b6211  h3{
			  font-size: 21px !important;
			  line-height: 1.6em !important;
			  padding: 0 40px 0 40px  !important;
		  }
		  
		  .elementor-element-6fdd057 h4{
			  font-size: 21px !important;
			  line-height: 1.6em !important;
			  padding: 0 40px 0 40px  !important;
		  }
		  
		  .elementor-element-6fdd057 h2{
			  font-size: 21px !important;
			  line-height: 1.6em !important;
			  padding: 0 40px 0 40px  !important;
		  }
		  
		  .elementor-element-30f51ca h2{
			  font-size: 26px !important;
			  line-height: 1.8em !important;
              letter-spacing: 0.1em !important;
		  }
		  
		  .elementor-element-b7fa8ff{
		  }
		  
		  .elementor-element-b7fa8ff h3{
			  font-size: 30px !important;
		  }
		  
	  }
  
   /* navbar responsive fix @ gagan */
    @media (max-width: 921px){
		.elementor-section-wrap section:first-child{
			margin-top: 0 !important
		}
		
		.ast-theme-transparent-header #masthead{
			position: static !important
		}
	}
  
  
  /* navigation responsive @ gagan */
  @media (min-width: 922px) and (max-width: 1236px){
	  .ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item{
		  line-height: 60px !important;
	  }
	  
	  .site-header-primary-section-left.site-header-section.ast-flex.site-header-section-left .ast-builder-layout-element.ast-flex.site-header-focus-item{
			align-items: center !important;
			justify-content: center !important;
	  }
	  
	  .site-branding.ast-site-identity{
		  padding: 0 !important;
	  }
	  
	  .ast-builder-grid-row.ast-builder-grid-row-has-sides.ast-builder-grid-row-no-center{
		  grid-template-columns: auto !important
	  }
	  
	  .ast-builder-grid-row>.site-header-section{
		align-items: center !important;
		justify-content: center !important;
	  }
  }
  
 
  
 /* homepage keywords block @ gagan */
/*.anwp-pg-wrap .anwp-pg-post-teaser--layout-c .anwp-pg-post-teaser__top-meta{
  min-height: auto;
}

.anwp-pg-wrap .anwp-pg-post-teaser--layout-c .anwp-pg-post-teaser__bottom-block{
  width: 100%;
  height: 100%;
}

.anwp-pg-wrap .anwp-pg-post-teaser--layout-c .anwp-pg-post-teaser__bottom-block{
  background-color: transparent;
}

.anwp-pg-post-teaser__title.anwp-font-heading{
    min-height: unset;
    max-height: unset;
}*/

.elementor-1003 .elementor-element .anwp-pg-post-teaser__title{
    width: 100%;
    min-height: auto;
    max-height: none;
    font-size: 100px;
    text-align: center;
    font-family: 'Forum',display;
}


 /* .elementor-element-fa6f603{  */
    /* left: 0%;  */
    /* -webkit-animation: fadeinout 1ms linear forwards;  */
     /* animation: fadeinout 1ms linear forwards; */
 /* }  */

.elementor-element-fa6f603.left{ 
   left: 50%; 
  -webkit-animation: fadeinout 250ms linear; 
     animation: fadeinout 250ms linear; 
 } 

 .elementor-element-4c2a286.right{ 
  right: 50%; 
  -webkit-animation: fadeinout 250ms linear; 
    animation: fadeinout 250ms linear; 
 } 

.elementor-element-f731f99.left{ 
   left: 50%; 
  -webkit-animation: fadeinout 250ms linear forwards; 
    animation: fadeinout 250ms linear forwards; 
 } 

.elementor-element-faeddf5.right{ 
    right: 50%; 
    -webkit-animation: fadeinout 250ms linear forwards; 
     animation: fadeinout 250ms linear forwards; 
 } 

.elementor-element-624637a .elementor-container.elementor-column-gap-default{
	transform: rotateZ(-4deg);
}

.swiper-wrapper{
    transition-duration: 250ms !important;
}

.swiper-wrapper .swiper-slide{
	transition-duration: 250ms !important;
}
/* .fadeAnim{ */
	 /* -webkit-animation: fadeinout 500ms linear; */
    /* animation: fadeinout 500ms linear; */
/* } 
.anwp-pg-wrap .anwp-pg-post-teaser__thumbnail-img{
	background-image: none !important
}
 @-webkit-keyframes fadeinout { 
   0%,100% { opacity: 1; } 
   50% { opacity: 0; } 
 } 

 @keyframes fadeinout { 
   0%,100% { opacity: 1; } 
   50% { opacity: 0; } 
 } 
*/

 /* navigation items active class @ gagan */
 header #site-navigation .menu-item:hover{
	color: #b044fc;
}
header #site-navigation .menu-item{
	font-weight: bolder;
  line-height: normal;
}
header #site-navigation .menu-item.current_page_item{
	color: #b044fc;
}




/* custom animated section @ gagan */
.custom-animation-1{
	background-color: #000000;
}

.custom-animation-1 .wrapper{
	float: left;
    width: 100%;
	display: none;
}



.custom-animation-1 .left{
	position: relative;
}

.custom-animation-1 .left{
	background-color: transparent;
	min-height: 393px;
	max-height: 393px;
	overflow: hidden;
	position: relative;
}

/* .custom-animation-1 .left .keyword{
    position: absolute;
    background-color: transparent;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
	font-size: 85px;
	font-family: 'Forum',display;
} */

.custom-animation-1 .right{
	position: relative;
}

.custom-animation-1 .right{
	background-color: transparent;
	min-height: 393px;
	max-height: 393px;
	overflow: hidden;
	position: relative;
}

.custom-animation-1 h1{
  position: absolute;
    background-color: transparent;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
	font-size: 85px;
	font-family: 'Forum',display;
}

.custom-animation-1 img{
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.custom-animation-1.first div div{
  transition: transform 0.3s ease-in;
  transform: scale(1);
}
.zoomEffect{
  transform: scale(1.25);
  transition: transform 0.3s ease-in;
}

/* .custom-animation-1 .right .keyword{
	position: absolute;
    background-color: transparent;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
	font-size: 85px;
	font-family: 'Forum',display;
} */

/* .custom-animation-1:first-child .left .keyword{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1:first-child .left .keyword.show{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1:first-child .left .image{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1:first-child .left	 .image.hide{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */



/* .custom-animation-1:first-child .right .keyword{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1:first-child .right .keyword.hide{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1:first-child .right .image{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1:first-child .right .image.show{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */




/* .custom-animation-1.second .left .keyword{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1.second .left .keyword.hide{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1.second .left .image{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1.second .left .image.show{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */




/* .custom-animation-1.second .right .keyword{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1.second .right .keyword.show{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1.second .right .image{
	opacity: 1;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */

/* .custom-animation-1.second .right .image.hide{
	opacity: 0;
	transition: opacity 2s;
  -webkit-transition: opacity 2s;
} */








/* responsive fixes @ gagan */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .page-id-1003 .elementor-element-93d39c4{
    padding: 0 !important;
  }

  .custom-animation-1 h1{
    font-size: 22px !important;
  }
  .custom-animation-1{
    padding: 0 !important;
  }
  .custom-animation-1 .right{
    width: 50% !important;
    max-height: 133px !important;
    min-height: 133px !important;
  }
  .custom-animation-1 .left{
    width: 50% !important;
    max-height: 133px !important;
    min-height: 133px !important;
  }
  .page-id-2654 .um-account .um-account-meta{
    display: none !important;
  }
  .page-id-2654 .entry-title{
    font-size: 50px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .custom-animation-1 h1{
    font-size: 45px !important;
  }
  .custom-animation-1 .right{
    width: 50% !important;
    max-height: 293px !important;
    min-height: 293px !important;
  }
  .custom-animation-1 .left{
    width: 50% !important;
    max-height: 293px !important;
    min-height: 293px !important;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .custom-animation-1 h1{
    font-size: 70px !important;
    text-align: center !important;
  }



}




/* account page @ gagan */
body.page-id-2654{
  background-color: #000000;
}

.page-id-2654 #post-2654{
  background-color: #000000;
}

.page-id-2654 .entry-title{
  font-family: 'Forum',display;
  color: #FFFFFF;
  font-size: 77px;
}

.page-id-2654 .um-account-side .current.um-account-link .um-account-icon{
  color: #A944FC !important;
}

.page-id-2654 .um-account-side .current.um-account-link .um-account-title{
  color: #A944FC !important;
}

.page-id-2654 .um-account-side li a{
  padding: 15px 0px !important;
}

.page-id-2654 .select2 .select2-selection{
  background-color: #000000 !important;
  color: #ffffff;
}

.page-id-2654 .um-account-side .um-account-meta{
  display: none !important;
}

.page-id-2654 .um-account-side ul li:nth-child(3){
  display: none !important;
}

.page-id-2654 .um-field-area .um-field-radio .um-icon-android-radio-button-on{
  color: #a944fc !important;
}

.page-id-2654 .um-account-side .um-account-link .um-account-arrow {
  top: 16px !important;
}

.page-id-2654 .um-account-side .um-account-link.current .um-account-arrow i{
  color: #a944fc !important;
}

.page-id-2654 .um-account-main .um-account-heading{
  display: none !important;
}

.page-id-2654 .um-account-main .um-account-tab div:nth-child(2){
  padding-top: 0 !important;
}

.page-id-2654 .um-account .um-account-meta{
  display: none !important;
}

@media(min-width: 768px){
  .page-id-2654 .um-account-side .um-account-link .um-account-arrow{
    display: none !important;
  }

  .page-id-2654 .um-account-side li a:hover{
    background-color: transparent !important;
  }

  .page-id-2654 .um-account-side li a:hover span{
    color: #a944fc !important;
  }
}

@media(max-width: 768px){
  .page-id-2654 .um-account-main div:nth-of-type(5){
    display: none !important;
  }

  .page-id-2654 .um-account-main div.um-account-nav a{
    padding: 10px 30px !important;
    font-size: 22px !important;
  }

  .page-id-2654 .um-account-main div.um-account-nav a span{
    top: 10px !important;
  }

  .page-id-2654 .um-account-main .um-account-tab div:nth-child(2) .um-field-area input{
    margin-top: 30px !important;
  }

 

}

/* search, tags and categories page @ gagan */
body.search, body.archive.tag, body.archive.category{
  background-color: #000000;
}

body.search .ast-primary-header-bar{
  background-color: #000000;
}

body.search #primary{
  margin-top: 10px;
}

body.search body{
  background-color: #000000;
}

.archive.tag body{
  background-color: #000000;
}

.archive.category body{
  background-color: #000000;
}

.archive.tag #primary{
  margin-top: 10px;
}

.archive.category #primary{
  margin-top: 10px;
}


.archive.tag .ast-archive-description{
  background-color: #000000;
  padding-top: 0;
  padding-bottom: 0;
}

.archive.category .ast-archive-description{
  background-color: #000000;
  padding-top: 0;
  padding-bottom: 0;
}

body.search article, body.search main, body.search section{
  background-color: #000000 !important;
}

body.search article{
  padding: 2.34em 6.67em !important;
}

body.search article:nth-child(1){
  padding-top: 10px;
}

.archive.tag article, .archive.tag main, .archive.tag section{
  background-color: #000000;
}

.archive.tag article{
  padding: 2.34em 6.67em !important;
}

.archive.category article, .archive.category main, .archive.category section{
  background-color: #000000;
}

.archive.category article{
  padding: 2.34em 6.67em !important;
}

.archive.tag article:nth-child(1){
  padding-top: 10px;
}

.archive.category article:nth-child(1){
  padding-top: 10px;
}

body.search #content{
  background-color: #000000;
}

.archive.tag #content{
  background-color: #000000;
}

.archive.category #content{
  background-color: #000000;
}

body.search #content .entry-header h2 a{
  color: #ffffff;
}

body.search #content .entry-content p{
  color: #ffffff;
}

body.search #content .entry-meta span, body.search #content .entry-meta div, body.search #content .entry-meta span a, body.search #content .entry-meta{
  color: #b8b8b8;
  font-size: 14px;
}

body.search #content .entry-meta span a:hover{
  color: #a944fc;
}

.archive.tag #content .entry-header h2 a{
  color: #ffffff;
}

.archive.category #content .entry-header h2 a{
  color: #ffffff;
}

.archive.tag #content .entry-content p{
  color: #ffffff;
}

.archive.category #content .entry-content p{
  color: #ffffff;
}

.archive.tag #content .entry-meta span, .archive.tag #content .entry-meta div, .archive.tag #content .entry-meta span a, .archive.tag #content .entry-meta{
  color: #b8b8b8;
  font-size: 14px;
}

.archive.category #content .entry-meta span, .archive.category #content .entry-meta div, .archive.category #content .entry-meta span a, .archive.category #content .entry-meta{
  color: #b8b8b8;
  font-size: 14px;
}

.archive.tag #content .entry-meta span a:hover{
  color: #a944fc;
}

.archive.category #content .entry-meta span a:hover{
  color: #a944fc;
}

body.search section.ast-archive-description{
  padding-top: 0;
  padding-bottom: 0;
  background-color: #000000;
  color: #ffffff;
}

body.search section.ast-archive-description h1{
  color: #ffffff;
  font-size: 3.0588235294118rem;
}

.archive.tag section.ast-archive-description h1{
  color: #ffffff;
  font-size: 3.0588235294118rem;
}

.archive.category section.ast-archive-description h1{
  color: #ffffff;
  font-size: 3.0588235294118rem;
}

.archive.tag .ast-primary-header-bar{
  background-color: #000000;
}

.archive.category .ast-primary-header-bar{
  background-color: #000000;
}

@media(min-width: 768px){
  body.search .post-content.ast-grid-common-col.row .ast-blog-featured-section, .archive.tag .post-content.ast-grid-common-col.row .ast-blog-featured-section, .archive.category .post-content.ast-grid-common-col.row .ast-blog-featured-section{
    height: 350px;
    margin-bottom: 0;
  }

  body.search .post-content.ast-grid-common-col.row .ast-blog-featured-section a, .archive.tag .post-content.ast-grid-common-col.row .ast-blog-featured-section a, .archive.category .post-content.ast-grid-common-col.row .ast-blog-featured-section a{
    display: block;
    height: 100%;
  }


  body.search .post-content.ast-grid-common-col.row .ast-blog-featured-section .post-thumb-img-content, .archive.tag .post-content.ast-grid-common-col.row .ast-blog-featured-section .post-thumb-img-content, .archive.category .post-content.ast-grid-common-col.row .ast-blog-featured-section .post-thumb-img-content{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  body.search .post-content.ast-grid-common-col.row .ast-blog-featured-section img, .archive.tag .post-content.ast-grid-common-col.row .ast-blog-featured-section img, .archive.category .post-content.ast-grid-common-col.row .ast-blog-featured-section img{
    height: 100%;
  }

  body.search .post-content.ast-grid-common-col, .archive.tag .post-content.ast-grid-common-col, .archive.category .post-content.ast-grid-common-col{
    padding: 20px;
  }


}





/* menu fix after adding search icon */
.ast-builder-menu-1 .menu-item > .menu-link{
  padding-left: 13px !important;
  padding-right: 13px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.ast-builder-menu-1 .menu-item .sub-menu{
  margin-top: 0 !important;
}

.ast-builder-menu-1 .menu-item .sub-menu li{
  padding: 5px 0
}

#is-search-input-0::-webkit-input-placeholder { /* Edge */
  color: #afafaf;
  font-family: Futura LT Book,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

#is-search-input-0:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #afafaf;
  font-family: Futura LT Book,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

#is-search-input-0::placeholder {
  color: #afafaf;
  font-family: Futura LT Book,Helvetica,Arial,sans-serif;
  font-weight: 400;
}




/* animated network connection background black @gagan */
/* .elementor-element-70eb2d6c .elementor-background-video-container{
  opacity: 0.58;
} */


.elementor-element-70eb2d6c#particles {
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.elementor-element-70eb2d6c#particles canvas{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.elementor-element-70eb2d6c#particles .elementor-background-overlay{
  background: rgba(0,0,0);
  z-index: 1;
  opacity: 0.8;
}

.elementor-element-70eb2d6c#particles .elementor-container{
  z-index: 99;
}

.elementor-element-f150e56#particles canvas{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.elementor-element-fbfc0e0#particles canvas{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.elementor-element-6fdd057#particles canvas{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.elementor-element-fbfc0e0#particles .elementor-background-overlay{
  background: rgba(0,0,0);
  z-index: 1;
  opacity: 0.8;
}

.elementor-element-fbfc0e0#particles .elementor-container{
  z-index: 99;
}


/* mobile headqer buttons fix @ gagan */
@media(max-width: 921px){
  .ast-button-wrap .menu-toggle.main-header-menu-toggle{
    padding: 0.2em;
  }
  #mobile-search-wrapper.active a svg{
    display: none;
  }

  #mobile-search-wrapper.active a::after{
    content: 'x';
    color: #ffffff;
    font-size: 25px;
    padding: 4px;
    position: relative;
    top: -3px;
    left: -2px;
    font-family: 'Futura LT Book';

  }
  .is-form-style{
    z-index: 999 !important;
  }

}


/* services section image fix @ gagan */
.elementor-element-4da4c02 img, .elementor-element-9652a04 img, .elementor-element-a0121f9 img{
  object-fit: cover;
  width: 100% !important;
  max-width: initial !important;
}

.elementor-element-31affb1 img, .elementor-element-947f57c img, .elementor-element-aa67f35 img{
  object-fit: cover;
  width: 100% !important;
  max-width: initial !important;
}
@media( min-width: 768px ){
.elementor-element-4da4c02 img, .elementor-element-9652a04 img, .elementor-element-a0121f9 img{
  object-fit: cover;
  width: 100% !important;
  max-width: initial !important;
}

.elementor-element-31affb1 img, .elementor-element-947f57c img, .elementor-element-aa67f35 img{
  object-fit: cover;
  width: 100% !important;
  max-width: initial !important;
}
}
@media( max-width: 1413px ) and ( min-width:1024px ){
  .elementor-element-4da4c02 .elementor-element-989fc4a .elementor-widget-wrap, .elementor-element-9652a04 .elementor-element-9ee7fd2 .elementor-widget-wrap, .elementor-element-a0121f9 .elementor-element-34852dc .elementor-widget-wrap{ 
    padding: 0 25px 0 25px !important;
  }
  .elementor-element-31affb1 .elementor-element-bd571c8 .elementor-widget-wrap, .elementor-element-947f57c .elementor-element-9eaf686 .elementor-widget-wrap, .elementor-element-aa67f35 .elementor-element-e8e720c .elementor-widget-wrap{ 
    padding: 0 25px 0 25px !important;
  }
}


@media(max-width: 500px){
  .bdt-prime-slider-skin-folio .bdt-prime-slider-desc{
    padding: 0 !important;
  }
}

@media(max-width: 921px){
  .ast-header-break-point .main-navigation ul .sub-menu .menu-item:not(.menu-item-has-children) .menu-link .icon-arrow{
    display: none !important;
  }
}

@media (max-width: 544px){
.ast-builder-menu-mobile .main-navigation .menu-item.menu-item-has-children > .ast-menu-toggle {
    top: 9px !important;
}
}

@media (max-width: 921px){
.ast-builder-menu-mobile .main-navigation .menu-item.menu-item-has-children > .ast-menu-toggle {
    top: 11px !important;
}
}


/* custom logo slider */
.custom-logo-slider{
}

.custom-logo-slider .elementor-widget-container{
position: relative; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); margin-top: 26px;
}

.carousel-logo-slider .ha-logo-grid-wrapper{
position: relative; overflow: hidden; width: 100%;
}

#site-navigation #lang-text{
  display: none !important; 
}

.mfp-content{
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(3px) !important;
  border: 1px solid rgba(255, 255, 255, 0.37) !important;
}

@media(max-width: 768px){
  .mfp-content{
    width: 100% !important;
  }
}