table.careerdata{
	width:80%;
   border-collapse: collapse;
	margin-top:20px;
	font-size:16px;
}
table.careerdata td{
	padding: 8px;
	border-right:1px solid #333;
}
table.careerdata tr{
	background-color:#fff;
}
table.careerdata tr:nth-child(even){background-color: #f2f2f2;}

table.careerdata tr:hover {background-color: #ddd;}